mixin instagram_cut()
	.instagam_cut
		img.instagram_logo(src='/stuff/laki/icons/logo/instagram.png')
		.instagram_desc XDance Sky Instagram

mixin blog_cut()
	.blog_cut
		span= 'Читайте экспертный '
		a(href='/blog')= 'блог'
		span= ' Лены Латаш'

mixin blog_cut_two()
	.blog_cut
		span= 'Читайте экспертный '
		a(href='/blog')= 'блог'
		span= ' Лены Латаш'