mixin instagram_cut()
	.cut.instagram
		img.instagram_logo(src='/stuff/laki/icons/social/instagram.png')
		a.instagram_desc(href='#') XDance Sky Instagram

mixin blog_cut()
	.cut.blog
		span= 'Читайте экспертный '
		a(href='/blog')= 'блог'
		span= ' Лены Латаш'

mixin blog_cut_two()
	.cut.blog
		span= 'Рассказываю о создании коллекций и приглашаю к обсуждению в свой '
		a(href='/blog')= 'блог'