include _helpers.jade
extends layout

block header_meta
	- var content_title= 'xDance Sky' + ' | ' + __('Где купить?')
	- var menu_active= 'buy'
	- var content_description= ''

block header_include
	- var include_css = ['buy.css']
	- var include_js = ['buy.js']

block over
	.over_block: .buy_head
		.buy_phone= __('Контактный телефон для оптовиков:') + ' ' + phone
		a.buy_blank(href='/cdn/order.pdf')= __('Бланк заказа')

block content
	.buy_shops
		.shops_title= __('Адреса магазинов')
		.shops_items
			each shop in shops
				.shop_item
					.shop_city= shop.i18n.city.get(locale)
					.shop_station= shop.i18n.station.get(locale)
					.shop_adress= shop.i18n.street.get(locale)
					.shop_apartment= shop.i18n.apartment.get(locale)
					.shop_time= shop.time

	+instagram_cut()