include _helpers.jade
extends layout

block header_meta
	- var content_title= 'xDance Sky' + ' | ' + __('Коллекция') + ' | ' + collect.i18n.title.get(locale)
	- var content_description = collect.i18n.intro.get(locale)
	- var content_images = [collect.poster]

block header_include
	- var include_libs_css = ['swiper.min.css']
	- var include_css = ['collect.css']
	- var include_libs_js = ['swiper.min.js']
	- var include_js = ['collect.js']

block over
	.over_block(class=collect.main_style, style='background-image: url(' + collect.poster + ')')
		.collect_head
			h1.collect_title= collect.i18n.title.get(locale)
			.collect_quote= collect.i18n.quote.get(locale)

block content
	.collect_body
		.collect_intro!= collect.i18n.intro.get(locale)
		.collect_description!= collect.i18n.description.get(locale)

	.collect_slider
		.swiper-container
			.swiper-wrapper
				each slide in collect.images
					.slide_item.swiper-slide(style='background-image: url(' + slide.original + ')')
			.swiper-pagination.swiper-pagination-white
			.swiper-button-next.swiper-button-white
			.swiper-button-prev.swiper-button-white

	.collect_buy: a(href='/buy')= __('Приобрести')

	.collect_patterns
		.patterns_title: span= (collect.patterns_counter || '') + ' ' + __('оттенков в коллекции')
		.patterns_slider
			.swiper-container: .swiper-wrapper
				each pattern, i in collect.patterns
					.slide_item.swiper-slide(style='background-image: url(' + pattern.path + ')'): span= pattern.description

	.collect_recomends
		.recomends_title= __('Рекомендации по нанесению')
		.recomends_desc!= collect.i18n.recommends.get(locale)

	+blog_cut()

	+sim_collects(sim_items)