extends layout

block header_meta
	- var content_title= 'xDance Sky' + ' | ' + __('Концепция')
	- var menu_active = 'concept'

block header_include
	- var include_css = ['concept.css']
	- var include_js = ['concept.js']

block content
	.concept_title= __('xDance Sky  — это широкая линейка декоративных и укрепляющих лаков для ногтей, а также специальных средств, придающих обычному маникюру совершенный вид и дополнительную стойкость без применения uv-ламп.')

	.author_block
		img.author_photo(src='/stuff/laki/backgrounds/iam.jpg')
		.author_name= __('Лена Латаш')
		.author_title= __('«Сочиняю» цвета и составляю коллекции почти 10 лет – бесконечно люблю это делать!')
		.author_description
			p= __('Придумываю сложные глубокие цвета, таящие в себе некую загадку — цвета, которые поражают многообразием шлейфов и чутко реагируют на изменение освещения;')
			p= __('Работатю с текстурами: текстурные лаки раскрывают цвет особенным образом, могут заставить какой-то неброский оттенок выглядеть по истине роскошным;')
			p= __('Подбираю оттенки так, что разница между ними едва заметна, – это особенно важно в классических эмалях без шиммера и блёсток.')
			p= __('Мы работаем для всех, кто любит играть с цветом и предпочитает менять маникюр часто и легко, следуя своему настроению – но, тем не менее, хочет иметь уверенность в своём лаковом покрытии, наверняка зная, что оно не подведёт в неподходящий момент.')
		.author_blog= __('Рассказываю о создании коллекций и приглашаю к обсуждению в свой блог')

	.concept_items
		.concept_item
			.item_title= __('Безопасность')
			.item_desc
				p= __('Проблемы стойкости маникюра предлагается решать с помощью специальных баз и закрепителей, подобранных с учетом типа и индивидуальных особенностей ногтей.')
				p= __('Даже на слабых и повреждённых ногтях можно создать довольно прочное покрытие, не напрягая и не перегружая ногтевую пластину.')
		.concept_item
			.item_title= __('Стойкость')
			.item_desc
				p= __('xDance Sky  — это высокий уровень безопасности. Стандарт Big5free в большинстве коллекций лаков (не содержат формальдегид, толуол, дибутилфталат, формальдегидные смолы, камфору).')
		.concept_item
			.item_title= __('Производство')
			.item_desc
				p= __('Все средства для маникюра xDance Sky  выпускаются российской компанией «Олбо» на условиях контрактного производства. В прошлом году предприятие отметило свое пятнадцатилетие.')
