include _helpers.jade
extends layout

block header_meta
	- var content_title= 'xDance Sky' + ' | ' + __('Концепция')
	- var content_description= intro

block header_include
	- var include_css = ['concept.css']
	- var include_js = ['concept.js']

block content
	.concept_intro!= intro

	.author_block
		.author_meta
			img.author_photo(src='/stuff/laki/backgrounds/iam.jpg')
			.author_name= __('Елена Латаш')
			.author_status= __('автор проекта')
			.author_quote!= quote
		.author_description!= desc

		+blog_cut(0)

	.concept_items
		.concept_item
			.item_title= __('Безопасность')
			.item_desc!= secure
		.concept_item
			.item_title= __('Стойкость')
			.item_desc!= protect
		.concept_item
			.item_title= __('Производство')
			.item_desc!= develop
