include _helpers.jade
extends layout

block header_meta
	- var content_title= 'xDance Sky' + ' | ' + direction.i18n.title.get(locale)
	- var content_description = direction.i18n.description.get(locale)
	- var content_images = [direction.poster]

block header_include
	- var include_libs_css = ['swiper.min.css']
	- var include_css = ['direction.css']
	- var include_libs_js = ['swiper.min.js']
	- var include_js = ['direction.js']

block over
	.over_block(class=direction.main_style, style='background-image: url(' + direction.poster + ')')
		.direction_head
			h1.direction_title= direction.i18n.title.get(locale)
			.direction_quote= direction.i18n.quote.get(locale)

block content
	.direction_body
		.direction_intro!= direction.i18n.intro.get(locale)
		.direction_description!= direction.i18n.description.get(locale)

	.direction_collects
		each collect in direction.collects
			.collect_item(class=collect.status)
				.collect_title: a(href=collect.status != 'special' ? '/collections/' + (collect.sym ? collect.sym : collect._short_id) : '#')= collect.i18n.title.get(locale)
				.collect_slider
					.swiper-container: .swiper-wrapper
						each slide in collect.images
							.slide_item.swiper-slide(style='background-image: url(' + slide.original + ')')
					if collect.images && collect.images.length != 0
						.swiper-pagination.swiper-pagination-black
						.swiper-button-next.swiper-button-black
						.swiper-button-prev.swiper-button-black
				.collect_description!= collect.i18n.description.get(locale)

	+blog_cut()

	+sim_collects(sim_items)
