include _cuts.jade
extends layout

block header_meta
	- var content_title= 'xDance Sky' + ' | ' + direction.i18n.title.get(locale)
	- var content_description = direction.i18n.description.get(locale)
	- var content_images = [direction.poster]

block header_include
	- var include_libs_css = ['swiper.min.css']
	- var include_css = ['direction.css']
	- var include_libs_js = ['swiper.min.js']
	- var include_js = ['direction.js']

block over
	.over_block(style='background-image: url(' + direction.poster + ')')
		.direction_head
			.direction_title= direction.i18n.title.get(locale)
			.direction_description!= direction.i18n.description.get(locale)

block content
	.direction_collects
		each collect in direction.collects
			.collect_item
				.collect_title= collect.i18n.title.get(locale)
				.collect_slider
					.swiper-container: .swiper-wrapper
						each slide in collect.images
							.slide_item.swiper-slide(style='background-image: url(' + slide.original + ')')
					.swiper-pagination.swiper-pagination-black
					.swiper-button-next.swiper-button-black
					.swiper-button-prev.swiper-button-black
				.collect_description!= collect.i18n.description.get(locale)

	+blog_cut()

	.sim_collects
		.sim_title= __('Другие коллекции')
		.sim_items
			each sim in sim_collects
				a.sim_item(href='/collections/' + sim._short_id)
					.sim_item_title: span= get_locale(sim.title, locale)
					.sim_item_image
						.image(style='background-image: url(' + sim.poster + ')')
						.quote= get_locale(sim.quote, locale)
