doctype html
html
	head
		include header
	body(class=menu_active)
		.maket_block
			.title_block: .title_inner
				a.logo(href='/')
					img(src='/stuff/laki/icons/logo/main.png')
					span By Lena Latash
				.menu_block
					a.hidden(href='/concept', class=menu_active == 'concept' ? 'active' : '') Концепция
					a.hidden(href='/buy', class=menu_active == 'buy' ? 'active' : '') Где купить?
					a.hidden(href='/blog', class=menu_active == 'blog' ? 'blog' : '') Блог
				if (session && session.user_id)
					.stargazer_block
							a(href='/auth') stargazer
							span= ' | '
							a(href='/auth/logout') выход
			block slider
			.main_block
				.content_block: .content_inner
					block content
				.footer_block: .footer_inner
					div xDance тм является зарегистрированным товарным знаком ООО «ОЛБО».
					div Все права защищены.
		include counters